<!doctype html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/basic.css') }}">
		<meta charset="utf-8">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap" rel="stylesheet">
		<title>Educatics</title>
	</head>
	<body>
        <header>

        </header>

        <div class="wrapper">
            <div class="sidebar">
                <a class="main-btn" href="/info">Информация</a>
                <a class="main-btn" href="/statistics">Статистика</a>
                <a class="main-btn" href="/analysis">Разбор задач от пользователей</a>
            </div>
            <content>

            </content>
            <footer>

            </footer>

    </div>
	</body>
</html>
